.button{
	background-color: black;
	font-size:30px;
	padding-top:20px;
	padding-bottom: 20px;
	padding-right:10px;
	padding-left:10px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	font-family: 'Bangers', sans-serif; 
	object-position: center;
	margin-bottom: 210px;
}

.centerbutton{
	text-align: center;
}